@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
/*     background: #f2f2f2; */
  background: #f2f2f2;

  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.headerPic{
    text-align: center;
}
.login button {
  font-family: "Roboto", sans-serif;
  outline: 0;
/*   HERE IS BUTTON BACKGROUND */
  background: grey;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login button:hover,.login button:active,.login button:focus {
  background: #43A047;
}
.login {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: red;
}
body {
  background:  #414141;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.scale{
    width: 50%;
    margin-bottom: 1rem;
}
.welcome{
    color: black;
    margin-top: 0px;
}

/* modal css */

.card {
  border-radius: 10px;
  padding: 20px 25px;
}

.abt {
  font-size: 14px
}

.inputbox {
  margin-top: 12px;
  position: relative
}

.inputbox input {
  border: 2px solid #eee;
  padding: 0 10px
}

.inputbox input:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
  border: 2px solid #0d6efd
}

.input-tag {
  position: absolute;
  top: 27px;
  left: 7px;
  width: 32px
}

.proceed button {
  height: 50px;
  font-size: 15px
}

.form-check-label {
  font-size: 12px
}

.btn-primary:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  box-shadow: none
}

.form-check-input {
  width: 16px;
  height: 16px;
  margin-top: 6px
}