
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    <div class="headerPic">
        <img src="header.jpg" alt="RWSchupp">
    </div>

    <div class="container">
      
        <div class="login">
            <form action="/login" method="post">
                <h1 class="welcome">Welcome</h1>
                <img class="scale" src="scale.jfif" alt="scale">
                <input type="text" placeholder="username" name="email" id="email"/>
                <input type="password" placeholder="password" name="password" id="password"/>
                <!-- <button onclick="myFunction()" >login</button> -->
                <button type="submit" onclick="handleFailure()" id="submit">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <%- include('includes/scripts'); %>
    <script>
        function handleFailure() {
            
            if($('#username') !='' && $('#password') !='') {
                alert("Incorrect Username & Password.")
            }
            else{
                alert("Please input Username & Password.")
            }
        }
        $(document).ready(function(){
            
        })
    </script>
</body>
</html>