
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    <div class="headerPic">
        <img src="header.jpg" alt="RWSchupp">
    </div>

    <div class="container">
      
        <div class="login">
            <form onsubmit="return false" method="post" id="loginForm">
                <h1 class="welcome">Welcome</h1>
                <img class="scale" src="scale.jfif" alt="scale">
                <input type="text" placeholder="username" name="email" id="email"/>
                <input type="password" placeholder="password" name="password" id="password"/>
                <button type="submit" onclick="login()" id="submit">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <%- include('includes/scripts'); %>
    <script>
       
        function login() {
            if($('#email').val() !='' && $('#password').val() !='') {
                $.post('/login',$('#loginForm').serialize()).done(function() {
                    window.location.replace('/homePage')
                }).fail(function(){
                    alert("Incorrect Username & Password.")
                })
            }
            else{
                alert("Please input Username & Password.")
            }
        }
        $(document).ready(function(){
            
        })
    </script>
</body>
</html>